
*{
	margin:0;
	padding:0;
	font-family: 'Noto Sans', sans-serif;
	font-size:14px !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans', sans-serif !important;
	font-weight:500
	
}
.site-content-contain {
   background:#f9f9f9 !important;
   
}
h1 {
	font-size:24px !important;
}
h2 {
	font-size:18px !important;
}
h3,
h3 a {
	font-weight:bold;
	font-size:16px !important;
}
.entry-meta * {
	font-size:10px !important;
}
.widget-title {
	font-size:14px !important
}
.navbar{
  background-color: #fff;
  border-bottom:1px solid #eee
}

.profile-img{
  height:100px;
  width:100px;
  border-radius: 1em;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-logo{
  width: 40px;
  height: 40px;
  transition: .5s ALL EASE;
}

.footer-logo:hover{
  width: 50px;
  height: 50px;
}

.footer1{
  background-color: #455600;
}

.footer2{
  background-color: #353f01;
  font-size: 12px;
  overflow-x: hidden;
  padding-top: 5px;
}

a {
  text-decoration: none;
  color: #757575;
}

a:hover, a:active {
  color: #757575;
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
