*{
	margin:0;
	padding:0;
	font-family: 'Noto Sans', sans-serif;
}
body {
	font-size:12px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans', sans-serif !important;
	font-weight:700
	
}
button {
	text-transform: uppercase !important;
	font-size:13px !important;
	font-weight:700 !important;
	font-family: 'Noto Sans', sans-serif !important;
	border-radius:2px !important;
}



.accordion-menu .acc-menu-link {
	
}

.accordion-menu .acc-menu-link a {
	font-style:normal;font-size:12px;background:#ccc;border-bottom:1px solid #eee;border-top:1px solid #eee;color:#fff;padding:0px;display:inline-block;width:100%
	
}
.accordion-menu .acc-menu-link a i {
 	background:rgb(136,168,31);border-right:1px solid rgb(136,168,31);color:#fff;padding:15px;margin-right:10px
 }
.accordion-menu .acc-menu-link a.collapsed {
	font-size:12px;background:#fff;color:#333;padding:0px;display:inline-block;width:100%
}
.accordion-menu .acc-menu-link a.collapsed i {
 	background:#fff;border-right:1px solid #eee;color:rgb(136,168,31);padding:15px;margin-right:10px
 }
 .accordion-menu .multi-collapse ul {
 	margin-left:40px
 }
 .accordion-menu .multi-collapse li {
 	display:block;
 }
 .accordion-menu .multi-collapse li a {
 	font-size:12px;
 	color:#999;
 	padding:5px 10px 5px 20px
 }
/*
Content Holder
======================================
*/ 

.left {
	background:#fff;height:100%;width:230px;border-right:3px solid rgb(195,195,195);position:fixed
} 
.right {
	z-index:0;padding:0 0 0 230px;
}
.rcontent-right-section,
.rcontent-left-section {
	margin-bottom:20px
}
/*
Booking Details
======================================
*/
.booking-list-holder {
	display: inline-block;width:100%;
}
.booking-entry {
	display: inline-block;background:#fff;padding:10px;width:100%;
}

.admin-page-header {
	margin:10px 0 0;display:inline-block;float:left;text-align:left
}
.client-list-filters {
	 float:right;margin-top:15px;margin:0;padding:0
}
.booking-item {
	 padding-right:0;
	 
}
.booking-item p {
	font-size:12px;
	margin:0;
}
.booking-item .item-li li {
	font-size:12px;
	line-height:21px;
}
.entry-title {
	color:rgb(69,85,12);font-size:18px;font-weight:700
}

.card {
	padding:10px 0;
}
.card-body {
	border:1px solid #eee;padding:10px 20px;margin:0 3px
}
.card-body h4 {
	 color:#87a900;font-size:30px;font-weight:700
}
.card-body .title-lite {
	font-size: 15px;
    line-height: 34px;
    margin: 10px 0 10px;
}
.card-body {
	 font-size:14px;
}
.profile-header {
	background:url('../images/profile-bg.jpg') no-repeat 0 -10px;
	background-size:cover;
	height:130px;
	position:relative
}
.profile-avatar {
	border-radius:50%;
	height:100px;
	width:100px;
	border:2px solid #eee;
	background:#fff;
	overflow:hidden;
	text-align:center;
	position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -50px;
}
.profile-avatar img {
	border-radius:50%;
	height:100%;
	width:100%;
}
.dropdown-collapse-m {
	display:none
}
.dropdown-collapse-m a {
	width:100%;
	display:inline-block;
	text-align:left;
	padding:10px 20px;
	color:#eee;
	font-weight:normal;
	font-size:14px
}
.dropdown-collapse-m a:hover {
	background:#222;
	color:#fff
}
.booking-filters {
	position:absolute;
	top:20px;
	left:20px;
	z-index:99;
	display:inline-block;
}
.filter-drpdown {
	float:left;
	display:inline-block;
	margin-right:2px
}
.tab-actions {
	float:left;
	display:inline-block;
}
/*
Mobile
======================================
*/
@media (max-width: 900px){
.booking-filters {
	position:relative !important;
	top:0px;
	left:0px;
	z-index:99;
	display:inline-block;
}

}
@media (max-width: 768px){
	
	.left {
		display:none !important
	}
	.right {
		padding:0 !important;
	}
	.rcontent-right-section,
.rcontent-left-section {
	margin-bottom:20px;
	
}
.dropdown-collapse-m {
	width:100%;
	display:inline-block !important;
}
.login-li .dropdown-menu {
	display:none !important
}
.login-li {
	display:inline-block;height:100%;width:100%;padding:0;
}
.login-li .dropdown-toggle {
	padding: 10px 20px;
    width: 100%;
    display: inline-block;
}
.booking-filters i {
	display:none !important
}
.booking-filters .btn-sm {
	font-size:12px !important
}
}

