.login-li {
	    border-left: 1px solid #666
}
.navbar {
    margin-bottom: 0px;
    position:fixed;width:100%;display:inline-block;z-index:999;border-bottom:3px solid #87a900;background:rgb(50,50,50);
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus
 {
    border-color:transparent
}