/*======================
Check Boxes Styles
========================*/
input[type='checkbox'] {
  opacity: 0;
  z-index: -1;
}

input[type='checkbox'] + label {
  width: 10px;
  height: 10px;
  display: block;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-indent: -999px;
  overflow: hidden;
  border: 1px solid rgba(136,168,31,1) !important;
  cursor: pointer;
}

/*-------------------
  #checkbox-a style
  ------------------*/
input[type='checkbox'].checkbox-a + label {
  border: 1px solid rgba(136,168,31,1) !important;
  background: transparent;
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
}

input[type='checkbox'].checkbox-a:checked + label {
  border: 1px solid rgba(136,168,31,1) !important;
  background: rgba(136,168,31,1) !important;
}
