#serve-revo-main .navbar-default{
        background-color: #FFF;
    }
    #serve-revo-main .custom-head-container{
        padding-left: 0;
    }
    .navbar {
    	min-height: 75px;
    	margin-bottom:0;
   	}
    #serve-revo-main .navbar-header {
        float:left;
        padding-top: 0;
        padding-bottom: 0;
        z-index: 1;
        position: absolute;
        width: 190px;
        background-color: #FFF;
        -webkit-transform: skew(-40deg);
        -moz-transform: skew(-20deg);
        -o-transform: skew(-20deg);

    }
    #serve-revo-main .navbar-header div{
        margin-right: 0px;
        margin-left: 3px;
        margin-top: 5px;
        padding:0;
        text-align:center;
        background-color: #FFF;
        width: 160px;
        -webkit-transform: skew(40deg);
        -moz-transform: skew(20deg);
        -o-transform: skew(20deg);
    }

   #serve-revo-main .navbar-header .logo-a-m {
		display:none;
		width: 160px;
        height:30px
	}
	#serve-revo-main .navbar-header .logo-a-m img {
		height:30px;
		width:100%;
		float:none;
	}
	
	#serve-revo-main .navbar-header .logo-a {
		display:inline-block;
		margin-left: -25px;
	}
	
	#serve-revo-main .navbar-header .logo-a .logo {
		height:50px;
		width:255px;
		margin-top:15px;
	}
	#serve-revo-main .navbar-header .logo, #serve-revo-main .navbar-header p{
        display: block;
    }
    #serve-revo-main .navbar-header div p{
        margin-top: 0px;
        margin-left:-20%;
        font-size: 18px;
        text-align:center;
    }
    #serve-revo-main .navbar-default .navbar-nav>li>a{
        color: #8a8a8a;
        font-size: 12px;
        border:none;
    }
    #serve-revo-main .navbar-default .navbar-nav>li>a.active{
        color: #87a900;
        border-bottom: solid 2px #87a900;
    }
    #serve-revo-main .navbar-default .navbar-nav>li>a {
    font-size: 14px;
    padding: 25px 15px;
	}
	
 .btn-serve-start{
        background-color: #87a900;
    }
   
/*MEDIA QUERY DESKTOP*/
@media (max-width: 1100px){
	#serve-revo-main .navbar-default .navbar-nav>li>a {
    font-size: 14px;
    padding: 25px 10px;
	}
}

@media (max-width:1024px){
	#serve-revo-main .navbar-header {
        background-color: transparent;
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -o-transform: skew(0deg);

    }
    #serve-revo-main .navbar-header div{
        margin-right: 0px;
        margin-left: 3px;
        margin-top: 5px;
        padding:0;
        text-align:center;
        background-color: #FFF;
        width: 160px;
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -o-transform: skew(0deg);
    }
    #serve-revo-main .navbar-header div p{
        display:none !important
    }
    #serve-revo-main .navbar-header .logo-a-m {
		display:inline-block !important
	}
	#serve-revo-main .navbar-header .logo-a {
		display:none !important
	}
	 .navbar-brand .logo-a-m {
    	margin-top:15px;
    }    
    #serve-revo-main .navbar-default .navbar-nav>li>a {
   		font-size: 13px;
	}
}

@media (max-width:900px){
	
	
   #serve-revo-main .navbar-header {
        float:none;
        padding-top: 0;
        padding-bottom: 0;
        z-index: 1;
        position: absolute;
    }
    #serve-revo-main .navbar-brand {
    display:inline-block;	
    width: 100%;
    text-align: center;
float:none
    }
   
}
@media (max-width:768px){
	#serve-revo-main .navbar-header {
        width:100%;
        text-align:center;
       

    }
   #serve-revo-main .navbar-toggle{
        background-color: transparent;
        float: none;
        border: none;
        margin-top:20px;
        margin-left: 5px;
        padding: 9px 0px 9px 5px;
        position: absolute;
        left:10px;
    	z-index: 999;
    }
    .navbar-collapse {
    	margin-top: 72px;
    	border-top: 1px solid #eee;
    }
    .navbar-default .navbar-nav>li>a{
        color: #8a8a8a;
        font-size: 12px;
        
    }
    .navbar-default .navbar-nav>li>a.active{
        color: #87a900;
        border-bottom: solid 2px #87a900;
    }
    #serve-revo-main .navbar-default .navbar-nav>li>a {
    	font-size: 14px;
    	padding: 10px 20px;
    	border-bottom: solid 1px #e0dddd;
	}
    
}