.reservation-page {
	overflow-x:hidden;
}
ul, li {
	list-style:none
}
.text-light {
	color:#888
}
.ta-r {
	text-align:right !important
}
.ta-l {
	text-align:left !important
}
.ta-c {
	text-align:center !important
}
.disabled {
	background:#f9f9f9 !important;
	pointer-events: none;
	opacity:0.8;
}
.btn-disable {
	pointer-events: none;
	opacity:0.5;
}
select.form-control {	
    height: 45px;
    border-radius: 0 !important;
}
.invi {
	visibility:hidden;
}
.err-msg {
	color:red;
	margin-bottom:10px;
	text-align:center;
} 
.asterisk {
	color:red !important;
}
.login-li {
	padding:25px 20px 20px 20px;
	   
}
.login-li a{
	color: #87a900;
	font-weight:700
}
.login-li a:hover {
	text-decoration:none;
}
.dropdown-menu {
	border-radius:0;
	border:1px solid #ddd;
	min-width:250px;
	background:#fff;
}
.dropdown-menu a{
	display: inline-block;
    width: 100%;
    
    padding: 8px 15px;
    color: #888;
    font-size: 14px;
}	
.dropdown-menu a:hover {
	background:#87a900;
	color:#fff;
}
.login-li .dropdown-menu {
	margin-top:20px;
	border:0;
}
.login-li .dropdown-menu a{
	
    padding: 8px 15px;
}	

.login-li .hvr-underline-reveal.dropdown-toggle {
	color:#87a900;
	font-weight:bold;
}
.login-li .dropdown-menu .dropdown-divider {
    border-bottom: 1px solid #eee;
    
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent !important;
    border-color:transparent !important;
}
.filter-drpdown .dropdown-menu {
	border-radius:0;
	border:1px solid #ddd;
	min-width:250px;
	background:#fff;
}
.filter-drpdown .dropdown-menu a{
	padding: 8px 15px;
}	


/* Nav tab*/
.section-tabs {
	margin-top:-5px;
	border:none; 
}
.section-tabs .nav-item a{
	border-radius:0;
	font-size:14px;
	color:#999;
	border:none;
}
.section-tabs .nav-item active {
	background:#fff;
	border:1px solid #eee;
	border-bottom:0;
	color:#000
}

.user-page {
	position:relative;
	background: url(../images/user_page_bg.jpeg) no-repeat;
	background-size:cover;
}
.user-page .user-page-content {
	position:relative;
	padding:80px 0
}
.reservation-page .center-lg {
	width:1000px;
	margin:0 auto
}
.serve-revo-admin .content-wrap,
.serve-revo-client .content-wrap {
	padding-top:70px;
}
.serve-revo-admin,
.serve-revo-client {
	position:relative;background:#ddd;
}

.reservation-page {
	background:#f9f9f9
}
#serve-revo-main .centralize {
	width:1024px;margin:20px auto 0;padding:0 20px
}

.serve-revo-client .centralize {
	width:1024px;margin:20px auto 0;padding:0 20px
}
/*
Login
======================================
*/
.login-page {
	padding:40px 0;
}
.user-login-panel{
    display: block;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    width: 380px;
    text-align: center;
}
.form-control {
	border-radius:2px;
	border:1px solid #CDCFD3;
}
.form-control-lg {
	font-size:14px;
	padding-top:14px;
	padding-bottom:14px;
}
.lbl-sm {
	color:rgba(91,94,108,1);
	text-transform: uppercase;
    font-size: 10px;
    margin-bottom: .3rem;
    float:left;
}
.logo-img { 
	text-align: center;
}
.logo-img img{
    height: auto;
    width: 180px;
}
.login-error{
    color: red;
    font-weight: 300;
    font-size: 12px;
}

/*
Registration
======================================
*/

.user-register-panel {
	padding:40px;
	 display: block;
	 background:#fff;
	 margin:0 auto;
	 width:768px;
	 border:1px solid #eee;
}
/*
Reservation
======================================
*/
.left-content {
	float:left;
	height:100%;
	width:650px;
	margin-bottom:20px;
}
.left-content-inner {
	height:100%;
	width:650px;
	position:relative;
}
.right-content {
	float:left;
	padding: 0 40px;
    width: 300px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
  	flex-flow: column;
  	height: 100%;
    border:1px solid #eee;
    margin-left:30px;
}
/*Seat checkbot horizontal*/
.chk {
	display:none;
}
.chk + .lbl-chk
{
	background: rgba(135,168,31,1);
    height: 16px;
    width: 28px;
	display:inline-block;
	padding: 0 0 0 0px;
	font-family: 'FontAwesome';
	margin:0 !important

}
.chk:checked + .lbl-chk
{
	background: #eee;
	height: 16px;
    width: 28px;
	display:inline-block;
	padding: 0 0 0 0px;
}
.chk.selected:checked + .lbl-chk.selected
{
	background: rgba(30, 176, 237,1);   
}
.chk:hover + .lbl-chk {
	cursor:pointer
}
.entry-tbl {
	float: left;
	margin-right: 10px;
	margin-bottom:5px;
}
.entry-tbl span {
	margin-right: 5px;
}
.tbl-bg {
	background: rgb(227,208,192);
	width: 94px;
    height: 38px;
	display: inline-block;
    margin: 0;
	padding: 0;
	float: left;
    margin-bottom: 5px;
}
#seatPlacement {
	position:relative !important;
}
#seatPlacement::after {
	position:absolute;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	background:pink;
}
.btn-serve-callback {
	width: 100%;
    background-color: #87a900;
    border-radius: 0;
    color: #FFF;
    font-family: "Lemon/Milk";
    height: 45px;
    padding: 10px 12px;
}

.seat-placement-holder {
	position:relative;
}
.seat-placement-holder #seatPlacement {
	padding:140px 0px 110px 88px;
	height:100%;
	overflow-y:scroll;
	
}
.last-tbl-placement {
	margin:47px 0 0 85px !important
}
.last-tbl-placement .tbl-bg {
    width: 38px;
    height: 96px;
    float:left
}
.last-tbl-placement .l-seat {
	float:left;
	margin-right:5px
}
.last-tbl-placement .r-seat {
	float:right;
	margin-left:5px;
}
.last-tbl-placement span {
    display: block !important;
    margin:0;
}
.last-tbl-placement .r-seat span{
	margin-right:0 !important;
}

/*Seat checkbot vertical*/
.chk1 + .lbl-chk1
{
    height: 28px;
    width: 16px;
}
.chk1.reserved:checked + .lbl-chk1.reserved
{
    height: 28px;
    width: 16px;
}
.chk1:checked + .lbl-chk1
{
    height: 28px;
    width: 16px;
}
/*Legends*/
.reservation-legend-holder {
	 text-align:center;
	 position:relative;
}
/*.seat-placement-legend {
	margin-top:20px;
}*/
.seat-placement-legend .legend-p {
	font-size:10px;
	text-align:left
}
.seat-placement-legend .legend-name {
	font-size:14px;
}
.seat-placement-legend .legend-p{
	position:relative;padding-left:40px
}
.seat-placement-legend .legend {
	background: rgba(135,168,31,1);
	height: 16px;width: 28px; 
	display: inline-block;
	padding: 0 0 0 0px;
	position:absolute;
	top:0;
	left:0;
	margin-right:10px
}
.seat-placement-legend .picked {
	background: rgba(30, 176, 237,1);
}   
.seat-placement-legend .reserved {
	background: #eee;
}


/*
	Terms and Conditions
*/
.entry-terms-condition {
	margin-bottom:30px;
}
.entry-terms-condition h4 {
	font-weight:700
}

.entry-terms-condition ul {
	margin:0;
	padding-left:20px;
	list-style: none
}

ul.list-style-circle li::before {
	content: "•"; 
	margin-right:10px;
}
.entry-terms-condition ul li {
	line-height:34px
}
.hrule {
	border-top:1px solid #eee;
	margin-top:20px;
	padding-top:20px
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0px 0;
    border-radius: 4px;
    }
.pagination li {
  display:inline-block;
  padding:0px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding:6px 10px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size:12px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #fff;
    background-color: #87a900;
    border-color: transparent;
}
.social-media a.facebook{
	border:2px solid #87a900;
	color:#87a900;
	border-radius:50%;
	padding:12px 13px 9px 13px
}
.social-media a.linkedin{
	border:2px solid #87a900;
	color:#87a900;
	border-radius:50%;
	padding:12px 10px 9px 10px
}
#serve-revo-main footer{
        color: #FFF;
        background-color: #455600;
        text-align: center;
        padding:0
    }
  
#serve-revo-main footer .center {
	 width:768px;
	 margin:0 auto;
	 padding:15px 0 10px;
	 opacity:0.7
}
#serve-revo-main footer .footer-nav {
	margin:10px 0 0;
}
#serve-revo-main footer .footer-nav li {
	display:inline
}
#serve-revo-main footer .footer-nav li a{
	color:#fff;
	opacity:0.6
}
#serve-revo-main footer .left {
	 text-align:left
}
#serve-revo-main footer .right {
	 text-align:right
}
#serve-revo-main footer .logo {
	 width:200px;
	 height:auto
}
#serve-revo-main footer .phone {
	 margin-top:10px;
	 color:#fff;
	 font-size:14px;
}
#serve-revo-main footer .sc-facebook {
	border:2px solid #fff;
	color:#fff;
	border-radius:50%;
	padding:6px 11px 7px 10px;
	opacity:0.7
}
 #serve-revo-main footer .sc-linkedin {
	border:2px solid #fff;
	color:#fff;
	border-radius:50%;
	padding:7px 9px 8px 9px;
	opacity:0.7
}
#serve-revo-main footer .sc-facebook:hover,
 #serve-revo-main footer .sc-linkedin:hover {
 	text-decoration:none;
 	opacity:1
 }
#serve-revo-main footer .email {
	margin-top:10px;
	color:#fff;
	font-size:14px;
}

#serve-revo-main footer .address {
	
	color:#fff;
	font-size:14px;
}
#serve-revo-main footer .copy {
	padding:10px;
	background:rgb(47,57,7);
	color:#fff;
	text-align:center;
	overflow:hidden;
}
#serve-revo-main footer .copy p {
	margin:0;
	opacity:0.7
}
#serve-revo-main footer .copy * {
opacity:0.7;
font-size:12px;
}

@media (max-width: 1000px){
.reservation-page .center-lg {
	width:100%;
	margin:0 auto
}
.user-login-panel{
	padding:20px;
	 width:100%;
}
	.user-register-panel {
	padding:20px;
	 width:100%;
	
	}
	.user-page .user-page-content {
		position:relative;
		padding:60px 40px
	}
	.container-m {
		padding:0 20px;
	}
	.container-m .left-content {
		float:none;
		margin:0 auto 20px;
		overflow-x: hidden;
		text-align:center;
		
		width:100%;
	}
	.container-m .left-content-inner {
		width:650px;
		margin:0 auto;
	}
	.container-m .right-content {
		float:none;
		margin:0 auto;
		width:650px;
		padding:0 20px;
	}
	
	
	.seat-placement-holder {
		width:650px;
	}

}
@media (max-width: 980px){
	.centralize {
		width:100%;
		margin:20px auto 0;
		padding:20px
		
	}
}
@media (max-width:1024px){
	.serve-revo-client .centralize {
	width:100%;margin:20px auto 0;padding:0 20px
}
#serve-revo-main .centralize {
	width:100%;margin:20px auto 0;padding:0 20px
}
}
@media (max-width: 767px){
	.serve-revo-admin .content-wrap,
	.serve-revo-client .content-wrap {
		padding-top:50px;
	}
	.container-m .left-content-inner {
		width:100%;
		margin:0 auto;
		overflow-y:scroll;
		overflow: hidden;
		border:1px solid #eee;
		padding:5px;
	}
	.container-m .right-content {
		float:none;
		margin:0 auto;
		width:100%;
		padding:0 20px;
	}
	#serve-revo-main footer .center {
	 width:100%;
	 margin:0 auto;
	 padding:20px 20px
}
#serve-revo-main footer .left {
	 text-align:center
}
#serve-revo-main footer .right {
	 text-align:center
}
}
@media (max-width: 650px){
	
}