@media (min-width:320px){

    #serve-revo-main.serve-revo-offshore .row2-body{
        margin-bottom: 15px;
    }

    #serve-revo-main.serve-revo-offshore .row2-body .row2-icon-box{
        text-align: center;
        margin-top: 10px;
    }

    #serve-revo-main.serve-revo-offshore .row2-body .row2-icon-box p,
    #serve-revo-main.serve-revo-offshore .row2-body .row2-icon-box-bordered p{
        font-size: 18px;
        margin-top: 10px;
    }

    #serve-revo-main.serve-revo-offshore .row2-body .row2-icon-box img{
        height: 50px;
    }

    #serve-revo-main.serve-revo-offshore .btn-serve-start.contactus-now{
        width: 100%;
        font-size: 12px;
    }

    #serve-revo-main.serve-revo-offshore .row2-body .row2-icon-box-bordered{
        border: solid 1px #abc34c;
        padding: 20px;
        text-align: center;
        margin-bottom: 10px;
    }

    #serve-revo-main.serve-revo-offshore .row2-body .row2-icon-box-bordered img {
        height: 70px;
    }
    #serve-revo-main .row2-body p, #serve-revo-main.serve-revo-offshore .row2-body.box-roles{
        margin-bottom: 0;
    }

    #serve-revo-main.serve-revo-offshore .container2 .row2-body .row2-box-roles{
        margin-bottom: 15px;
    }

}

@media (min-width:320px) and (max-width:768px) and (orientation: landscape){
    #serve-revo-main.serve-revo-offshore .btn-serve-start.contactus-now {
        width: auto;
    }
}


@media (min-width:768px) {
    #serve-revo-main.serve-revo-offshore .btn-serve-start.contactus-now {
        width: auto;
    }
    #serve-revo-main.serve-revo-offshore .container2 .row2-body .row2-box-roles p{
        text-align: left;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    #serve-revo-main.serve-revo-offshore .btn-serve-start.contactus-now{
        font-size: 16px;
    }
}