/*GLOBAL*/
@font-face {font-family:"Lemon/Milk";src:url("LemonMilk.eot?") format("eot"),url("LemonMilk.woff") format("woff"),url("LemonMilk.ttf") format("truetype"),url("LemonMilk.svg#LemonMilk") format("svg");font-weight:normal;font-style:normal;}
html, body {height:100%}


/*MEDIA QUERY MOBILE*/
@media (min-width: 320px){

    /*GLOBAL*/
    body{
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-feature-settings: 'liga';
    }
    div, p, li{
        font-size: 14px
    }

    #serve-revo-main .row2-container-box h4, #serve-revo-main .row3-body .fa, #serve-revo-main .row3-body .row div h4:last-of-type{
        color: #87a900;
    }
    #serve-revo-main .btn-serve-start{
        color: #FFF;
    }
    .row1-body .serve-start, .row3-body .serve-start{
        text-align: center;
    }

    /*FOLD 1*/
    #serve-revo-main h1, #serve-revo-main h3, #serve-revo-main footer h4{
        font-family: "Lemon/Milk";
    }
    #serve-revo-main h1, #serve-revo-main h3{
        text-align: center;
        font-size: 20px;
    }

    #serve-revo-main h1{
        margin-top: 0;
    }
    #serve-revo-main .row1-body{
        background-repeat: no-repeat;
        position: relative;
        padding-top: 6%;
        padding-bottom: 6%;
    }

    /*FOLD 2*/
    #serve-revo-main .row2-body .custom-col {
        margin-bottom:15px;
    }

    #serve-revo-main .row2-body .custom-col a{
        color: inherit;
        text-decoration: none;
    }

    #serve-revo-main .row2-container-box{
        border: solid 3px #EBEBEB;
        background-color: #f0fbff;
        text-align: center;
        padding: 1% 3%;
    }
    #serve-revo-main .row2-container-box img{
        max-width:100%;
        width: auto;
        height: auto;
    }

    /*FOLD 3*/
    #serve-revo-main .row3-body{
        background-color: #e6fbfe;
        padding-bottom: 20px;
    }
    #serve-revo-main .row3-body .fa{
        font-size: 2em;
    }

    #serve-revo-main .row3-body .row div h4:last-of-type{
        margin-top:7px;
    }
    #serve-revo-main .row3-body .custom-col-1{
        padding-right: 0;
    }
    #serve-revo-main .btn-serve-start{
        border-radius: 0;
    }
    #serve-revo-main .row3-body .custom-col1{
        display: none;
    }
    /*FOLD 4*/
    #serve-revo-main .row4-body{
        background-image: url(../images/row4-bg-m.png);
        background-repeat: round;
        position: relative;
        height: 300px;
    }
    /*FOLD 5*/
    #serve-revo-main .row5-body h3, #serve-revo-main .row5-body h4{
        text-align: center;
    }

    #serve-revo-main .row5-body h1, #serve-revo-main .row5-body h4{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    #serve-revo-main .row6-body{
        padding-top: 10%;
        padding-bottom: 10%;
        background-color: #f0f3f6;
    }
    #serve-revo-main .row6-body .call-back{
        border: solid 1px #dcdcdc;
        padding: 1% 5%;
        background-color: #FFF;
    }
    #serve-revo-main .row6-body .call-back input, #serve-revo-main .row6-body .call-back textarea{
        border-radius: 0;
    }
    #serve-revo-main .row6-body .call-back input, #serve-revo-main{
        height: 45px;
    }
    #serve-revo-main .row6-body .call-back hr{
        border-top: 1px solid #455600;
    }

    /*FONTAWESOME CALL BACK FORM*/
    input#name,input#email,input#phone,textarea#message {
        font-family: FontAwesome, Arial, Helvetica Neue, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
    }

    #serve-revo-main .row6-body .btn-serve-callback{
        width: 100%;
        background-color: #87a900;
        border-radius: 0;
        color: #FFF;
        font-family: "Lemon/Milk";
        height: 45px;
        padding: 10px 12px;
    }
 /*   #serve-revo-main footer{
        color: #FFF;
        background-color: #455600;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 5px;
    }
    #serve-revo-main footer img{
        margin-top: 15px;
        margin-bottom:30px;
    }
    #serve-revo-main footer h4, #serve-revo-main footer h5{
        margin-bottom: 15px;
        margin-top: 0;
    }
    #serve-revo-main footer h5{
        font-size: 80%;
    }
    #serve-revo-main footer.footer{
        display: none;
    }

*/
}

/*MEDIA QUERY MOBILE*/
@media (min-width: 375px) and (max-width: 768px){
    div, p, li{
        font-size: 16px
    }
   
	.serve-revo-admin .centralize {
	width:100%;padding:20px
	}
}
@media (min-width: 375px) and (max-width: 768px) and (orientation: landscape){
    div, p, li{
        font-size: 16px
    }
    .h1-wide{
        display: none;
    }
    #serve-revo-main .row6-body{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    
	.centralize {
	width:100%;padding:20px
	}
}

/*MEDIA QUERY IPAD*/
@media (min-width: 768px){
    div, p, li{
        font-size: 16px
    }
   #serve-revo-main .row1-body{
    	background-image: url(../images/row1-bg-m.png);
    }
}
/*MEDIA QUERY DESKTOP*/
@media (min-width: 769px){
	
    div, p, li{
        font-size: 16px
    }
    #serve-revo-main h1, #serve-revo-main h3 {
        text-align: center;
        font-size: 25px;
    }
    #serve-revo-main .row1-body h1{
        text-align:left;
        margin-bottom: 4%;
        font-size: 36px;
    }
    #serve-revo-main .row1-body p:first-of-type{
        font-size: 20px;
    }
    #serve-revo-main .row1-body p{
        margin-bottom: 15px;
    }
    #serve-revo-main .row1-body{
    	
        padding-bottom: 5%;
        padding-top: 5%;
        background-repeat:no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:center;
    }
    .row1-body .serve-start, .row3-body .serve-start{
        text-align: left;
    }
    #serve-revo-main .btn-serve-start {
        font-size: 20px;
        padding: 10px 25px;
    }
    #serve-revo-main .container2 {
        margin-top: 1%;
        margin-bottom: 2%;
    }
    #serve-revo-main .row2-body{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 15px;
    }
    #serve-revo-main .row2-body p:first-of-type{
        font-size: 18px;
    }
    #serve-revo-main .row2-body p{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #serve-revo-main .row2-body .row2-container-box:hover{
        border: solid 3px #8fb109;
    }

    #serve-revo-main .row3-body{
        margin-right: 0px;
        margin-left: 0px;
    }

    #serve-revo-main .row3-body {
        background-color: transparent;
    }

    #serve-revo-main .row3-body .custom-col1{
        background-image: url(../images/row4-bg.jpg);
        background-repeat:no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:right;
        padding-bottom: 2%;
        padding-top: 2%;
        display: block;
    }

    #serve-revo-main .row3-body .custom-col2{
        background-color: #e7fafe;
        padding-bottom: 2%;
        padding-top: 2%;
    }

    #serve-revo-main .row3-body .custom-col2 h3{
        text-align: left;
        margin: 0;
    }

    #serve-revo-main .row3-body .custom-col2 h3, #serve-revo-main .row3-body h4, #serve-revo-main .row3-body .custom-col-11 h4{
        margin: 0;
    }
    #serve-revo-main .row3-body .custom-col2 h3, #serve-revo-main .row3-body h4, #serve-revo-main .row3-body row, #serve-revo-main .row3-body .btn-serve-start{
        margin-top: 15px;
        margin-bottom: 20px;
    }
    #serve-revo-main .row3-body .btn-serve-start{
        margin-top: 50px;
        margin-bottom: 15px;
    }
    #serve-revo-main .container3{
        padding-right: 0;
        padding-left: 0;
    }

    #serve-revo-main .row4-body{
        display: none;
    }

    #serve-revo-main .row5-body{
        margin-bottom: 5%;
    }
    #serve-revo-main .row5-body div{
        padding-right: 10%;
        padding-left: 10%;
    }

    #serve-revo-main .row6-body{
        background-image: url(../images/row6-bg.jpg);
        background-repeat:no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:right;
        padding-bottom: 4%;
        padding-top: 4%;
        display: block;
    }

    /*#serve-revo-main footer.footer-m{
        display: none;
    }

    #serve-revo-main footer.footer{
        display: block;
    }
    #serve-revo-main footer{
        position: relative;
        min-height: 50px;
    }
    #serve-revo-main footer img{
        margin-bottom: 0px;
        margin-top: 0px;
    }
    #serve-revo-main footer .footer-nav p{
        font-size: 11px;
        margin-top: 5px;
    }
    #serve-revo-main footer .footer-nav-items{
        padding: 10px;
    }
    #serve-revo-main footer .footer-nav-items ul li{
        list-style-type: none;
        display:inline-block;
    }
    #serve-revo-main footer .footer-nav-items ul li a{
        line-height: 20px;
        padding: 10px 15px;
        color: #FFF;
        font-size: 18px;
        font-family: "Lemon/Milk";
    }*/
    /*#serve-revo-main footer.footer .footer-nav{
        float: left;
    }
    #serve-revo-main footer.footer .footer-nav-items{
        float: right;
    }
*/
    #serve-revo-main .navbar-collapse .nav>li{
        border-bottom: none;
    }
   
}
@media (max-width: 768px){
   #serve-revo-main .row1-body{
    	background-image: url(../images/row1-bg-m.png);
    }
}
/*MEDIA QUERY DESKTOP*/
@media (min-width: 1024px){
    #serve-revo-main .navbar-header {
        height: 110px;
        width: 315px;
        -webkit-transform: skew(-40deg);
        -moz-transform: skew(-20deg);
        -o-transform: skew(-20deg);

    }
    #serve-revo-main .navbar-header div{
        margin-right: 25px;
        margin-left: 25px;
        padding:0;
        text-align:left;
        background-color: #FFF;
        width: 250px;
        -webkit-transform: skew(40deg);
        -moz-transform: skew(20deg);
        -o-transform: skew(20deg);
    }
	#serve-revo-main .navbar-right {
    	margin-top: 0;
	}
	#serve-revo-main .row1-body{
    	background-image: url(../images/home_img_visual2.jpeg);
    }
	
}





