/*MEDIA QUERY MOBILE*/
@media (min-width: 320px){

    #serve-revo-main .navbar-header .logo, #serve-revo-main .navbar-header p{
        display: none;
    }

    #serve-revo-main .navbar-collapse .nav>li{
        border-bottom: solid 1px #e0dddd;
    }

    #serve-revo-main .navbar-nav{
        margin: 0 -15px;
    }

    #serve-revo-main .navbar-header, #serve-revo-main .navbar-toggle span.icon-bar, #serve-revo-main .btn-serve-start{
        background-color: #87a900;
    }

    /*NAV*/
    #serve-revo-main .navbar-default{
        margin-bottom: 0px;
    }
    #serve-revo-main .navbar-header{
        background-color: #FFF;
        padding-top: 10px;
        padding-bottom: 10px;
        float: none;
    }
    #serve-revo-main .navbar-toggle{
        background-color: transparent;
        float: left;
        border: none;
        margin-left: 5px;
        padding: 9px 0px 9px 5px;
    }

    #serve-revo-main .navbar-header div{
        text-align: center;
        padding: 10px 0px;
    }
    #serve-revo-main .navbar-header div a img {
        margin-left: -20px;
    }

}

/*MEDIA QUERY IPAD*/
@media (min-width: 768px){

    #serve-revo-main .navbar-default{
        background-color: #FFF;
    }
    #serve-revo-main .custom-head-container{
        padding-left: 0;
    }
    #serve-revo-main .navbar-header {
        float:left;
        padding-top: 0;
        padding-bottom: 0;
        z-index: 1;
        position: absolute;
        height: 90px;
        width: 190px;
        background-color: #FFF;
        -webkit-transform: skew(-40deg);
        -moz-transform: skew(-20deg);
        -o-transform: skew(-20deg);

    }
    #serve-revo-main .navbar-header div{
        margin-right: 0px;
        margin-left: 3px;
        margin-top: 5px;
        padding:0;
        text-align:center;
        background-color: #FFF;
        width: 160px;
        -webkit-transform: skew(40deg);
        -moz-transform: skew(20deg);
        -o-transform: skew(20deg);
    }

    #serve-revo-main .navbar-header div p{
        margin-top: -12px;
        color: #8a8a8a;
        font-size: 12px;
    }
    #serve-revo-main .navbar-header .logo, #serve-revo-main .navbar-header p{
        display: block;
    }
    #serve-revo-main .navbar-header .logo-m{
        display: none;
    }
    #serve-revo-main .navbar-header div a img{
        margin-left: 0;
        height: 60px;
    }
    #serve-revo-main .navbar-header{
        float:left;
    }

    #serve-revo-main .navbar-default .navbar-nav>li>a{
        color: #8a8a8a;
        font-size: 12px;
        padding: 18px 10px;
        border:none;
    }
    #serve-revo-main .navbar-default .navbar-nav>li>a.active{
        color: #87a900;
        border-bottom: solid 2px #87a900;
        padding-bottom: 5px;
    }

}

/*MEDIA QUERY DESKTOP*/
@media (min-width: 769px){
    #serve-revo-main .navbar-header div a img{
        margin-left: 0;
        height: 85px;
    }
    #serve-revo-main .navbar-header div p{
        margin-top: -16px;
        font-size: 18px;
        text-align: center;
    }
    #serve-revo-main .navbar-default{
        background-color: #FFF;
        height: 75px;
    }
    #serve-revo-main .navbar-right{
        margin-top: 1%;
    }

    #serve-revo-main .navbar-default .navbar-nav>li>a{
        font-size: 14px;
        padding-bottom: 5px;
        padding: 15px;
    }

    #serve-revo-main .navbar-default .navbar-nav>li>a.active,  #serve-revo-main .navbar-default .navbar-nav>li>a.active:hover{
        color: #87a900;
        border-bottom: solid 4px #87a900;
        padding-bottom: 11px;
    }

    #serve-revo-main .navbar-default .navbar-nav>li>a.active:hover{
        border-bottom: none;
        padding-bottom: 15px;
    }
}

/*MEDIA QUERY DESKTOP*/
@media (min-width: 1024px){
    #serve-revo-main .navbar-header {
        height: 110px;
        width: 315px;
        -webkit-transform: skew(-40deg);
        -moz-transform: skew(-20deg);
        -o-transform: skew(-20deg);

    }
    #serve-revo-main .navbar-header div{
        margin-right: 25px;
        margin-left: 25px;
        padding:0;
        text-align:left;
        background-color: #FFF;
        width: 250px;
        -webkit-transform: skew(40deg);
        -moz-transform: skew(20deg);
        -o-transform: skew(20deg);
    }
}