/*MEDIA QUERY MOBILE*/
@media (min-width: 320px){

    #serve-revo-main.serve-revo-offshore .row1-body{
        background-image: url(../images/offshore-services/slider-img1.png);
        min-height: 220px;
        height:auto;
    }
    #mainCarousel .carousel-indicators{
        bottom: -45px;
    }

    #serve-revo-main.serve-revo-offshore .row1-body #mainCarousel{
        height:auto;
        min-height: 160px;
    }
    #serve-revo-main.serve-revo-offshore .row1-body .carousel-inner p{
        font-family: "Lemon/Milk";
        font-size: 20px;
        color: #FFF;
        text-align: center;
        line-height: 1.1;
    }

    #serve-revo-main.serve-revo-offshore .row1-body .carousel-inner{
        min-height: 130px;
        height: auto;
    }

    #serve-revo-main.serve-revo-offshore .row2-container-box{
        border: none;
        padding: 1% 0;
        background-color:transparent;
    }

    #serve-revo-main.serve-revo-offshore .row2-container-box .row-box-content{
        border: none;
        padding: 3% 0;
        background-color:#ededed;
    }
    #serve-revo-main.serve-revo-offshore .row2-container-box .row-box-content.custom{
        background-color:#f4f6eb;
    }
    #serve-revo-main.serve-revo-offshore .row2-container-box .row-box-content p{
        margin-bottom: 5px;
        margin-top: 0px;
    }

    #serve-revo-main.serve-revo-offshore .row2-container-box .row-box-heading{
        background-color: #455600;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #serve-revo-main.serve-revo-offshore .row2-container-box h4{
        color: #FFF;
    }
    #serve-revo-main.serve-revo-offshore .row2-container-box h4{
        margin-top: 0;
        margin-bottom:0;
    }

    #serve-revo-main.serve-revo-offshore .row3-body{
        text-align: center;
        background-color: #e6fbfe;
    }
    #serve-revo-main.serve-revo-offshore .row3-body p{
        text-align: left;
    }
    #serve-revo-main.serve-revo-offshore .row3-body h3, #serve-revo-main.serve-revo-offshore .row3-body img{
        display: inline-block;
    }
    #serve-revo-main.serve-revo-offshore .row3-body img{
        height: 18px;
        margin-top: -7px;
    }
    #serve-revo-main.serve-revo-offshore .row2-body .row2-container-box:hover{
        border: none;
    }
    #serve-revo-main.serve-revo-offshore .container2{
        padding-bottom: 20px;
    }
    #serve-revo-main.serve-revo-offshore .container2 p{
        text-align:center;
    }

    #serve-revo-main.serve-revo-offshore .row1-body #mainCarousel .serve-start{
        position: absolute;
        text-align: center;
        left: 50%;
        bottom: 0;
        margin-left: -30%;
        width: 60%;
    }

    #serve-revo-main.serve-revo-offshore .row6-body{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    #serve-revo-main.serve-revo-offshore .row1-body .carousel-inner p br,
    #serve-revo-main.serve-revo-offshore .row2-body h3 br, #serve-revo-main.serve-revo-offshore .row2-body p br{
        display: none;
    }
}

/*MEDIA QUERY MOBILE*/
@media (min-width: 320px) and (max-width: 720px) and (orientation:landscape){
    #mainCarousel .carousel-indicators{
        bottom: -20px;
    }
    #serve-revo-main.serve-revo-offshore .row1-body #mainCarousel .serve-start{
        bottom: 25px;
    }

}
/*MEDIA QUERY MOBILE*/
@media (min-width: 320px) and (max-width: 720px) and (orientation:landscape){
    #mainCarousel .carousel-indicators{
        bottom: -20px;
    }
    #serve-revo-main.serve-revo-offshore .row1-body #mainCarousel .serve-start{
        bottom: 25px;
    }

}
@media (min-width: 768px){
    #serve-revo-main.serve-revo-offshore .row1-body .carousel-inner p br, #serve-revo-main.serve-revo-offshore .row2-body h3 br{
        display: block;
    }
    #serve-revo-main.serve-revo-offshore .row1-body .main-carousel-container{
        margin-top: 20px;
    }
    #serve-revo-main.serve-revo-offshore .row2-body .custom-col{
        padding-left: 0;
        padding-right: 0;
    }

    #serve-revo-main.serve-revo-offshore .container2 .row2-body-custom{
        padding-left: 7%;
        padding-right: 7%;
    }
    #serve-revo-main .container3 .row3-body-custom{
        padding-left: 10%;
        padding-right: 10%;
    }
    #serve-revo-main.serve-revo-offshore .row2-container-box.bordered, #serve-revo-main.serve-revo-offshore .row2-container-box.bordered:hover{
        border-left: solid 2px #FFF;
        border-right: solid 2px #FFF;
    }
    #serve-revo-main.serve-revo-offshore .row3-body img {
        height: 22px;
        margin-top: -10px;
    }

    #serve-revo-main.serve-revo-offshore .row2-body p:first-of-type{
        font-size: 16px;
    }


}
@media (min-width: 1025px) {
    #serve-revo-main.serve-revo-offshore .row2-body p br{
        display: block
    }

    #serve-revo-main.serve-revo-offshore .row1-body #mainCarousel{
        min-height: 460px;
    }

    #serve-revo-main.serve-revo-offshore .row1-body .carousel-inner p{
        font-size: 36px;
    }
    #serve-revo-main.serve-revo-offshore .row1-body #mainCarousel .serve-start{
        bottom: 30%;
    }
    #mainCarousel .carousel-indicators {
        bottom: 20%;
    }
}