﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Lemon/Milk";src:url("LemonMilk.eot?") format("eot"),url("LemonMilk.woff") format("woff"),url("LemonMilk.ttf") format("truetype"),url("LemonMilk.svg#LemonMilk") format("svg");font-weight:normal;font-style:normal;}
